:root {
	--color-accent-primary: var(--toolbarbutton-icon-fill-attention) !important;
	--focus-outline-color: var(--color-accent-primary) !important;
	--link-color: var(--color-accent-primary) !important;
	--link-color-hover: var(--color-accent-primary-hover) !important;
	--link-color-active: var(--color-accent-primary-active) !important;
}
